elpa/
straight/
auto-save-list/
eln-cache/
var/
transient/

network-security.data
projectile-bookmarks.eld
emacs-desktop.el
emacs-development.el
emacs-plain-config.el
emacs-reading.el
emacs-system.el
emacs.el
